.box-container{
    display: flex;
}

.box{
    width: 50%;
    border: 1px solid black;
}

.item-img{
    width: 100%;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.win{
    border-color: green;
}

.lose{
    border-color:  red;
}

.tie{
    border-color: black;
}